<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume</title>
</head>

<body>
    <h2>{{user.name}}</h2>
    <h2>{{user.email}}</h2>
    <h2>{{user.phone}}</h2>
    <hr><br>
    <p>Summery</p>
    <p>{{user.summery}}</p>
    <p>Education</p>
    <ul>
        <li>{{user.school}}</li>
        <li>{{user.university}}</li>
    </ul>
</body>

</html>